In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [4]:
arquivos = [ 'gowers_15_attribute_freq', 'kmodes_15_attribute_freq', 'umap_kmeans_15_attribute_freq']

df = pd.DataFrame()

for i in arquivos:
    df_temp = pd.read_csv(i + ".csv")
    df = df.append(df_temp)

<ipython-input-4-7552caa9110f>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
<ipython-input-4-7552caa9110f>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)
<ipython-input-4-7552caa9110f>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp)

In [5]:
df.head()

,n_cluster,var_value,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,gowers_15,ds_city_size__grande,0.023752,0.021944,0.956153,0.173228,0.044883,0.060435,0.986033,0.041597,0.052192,0.065672,0.087569,0.936443,0.070249,0.109518,0.130790
1,gowers_15,ds_city_size__medio,0.093413,0.047900,0.043847,0.745932,0.183637,0.166801,0.013967,0.120588,0.843772,0.130490,0.834424,0.063557,0.162188,0.161697,0.132347
2,gowers_15,ds_city_size__pequeno,0.882834,0.930156,0.000000,0.080840,0.771480,0.772764,0.000000,0.837815,0.104036,0.803838,0.078007,0.000000,0.767562,0.728784,0.736863
3,gowers_15,ds_gender__FEMALE,1.000000,0.000000,1.000000,0.209449,0.956399,1.000000,0.000000,0.234454,0.186500,0.031557,0.826371,0.746284,0.928780,0.715023,0.000000
4,gowers_15,ds_gender__MALE,0.000000,1.000000,0.000000,0.790551,0.043601,0.000000,1.000000,0.765546,0.813500,0.968443,0.173629,0.253716,0.071220,0.284977,1.000000

In [39]:
for i in df['n_cluster'].unique():
    x = 0
    df_correl = df[df['n_cluster'] == i]
    corr = df_correl.corr(method='pearson')
    
    for column in corr.columns:
        corr_temp = corr[corr[column] != 1]
        corr_temp = corr_temp[corr_temp[column] > 0.65]
    x = x + len(corr_temp[column])
    print(i)
    print(x)

gowers_15
7
kmodes_15
4
umap_kmeans_15
6

In [41]:
df_model.head()

var_value,ds_city_size__grande,ds_city_size__medio,ds_city_size__pequeno,ds_gender__FEMALE,ds_gender__MALE,ds_marital_status__DIVORCED,ds_marital_status__MARRIED,ds_marital_status__OTHERS,ds_marital_status__SEPARATE,ds_marital_status__SINGLE,...,faixa_renda_declarada__C - 1.001 a 2.000,faixa_renda_declarada__D - 2.001 a 3.000,faixa_renda_declarada__E - 3.001 a 4.000,faixa_renda_declarada__F - 4.001 a 5.000,faixa_renda_declarada__G - 5.001 a 10.000,faixa_renda_declarada__H - Mais de 10.000,is_autonomo__0,is_autonomo__1,is_capital__False,is_capital__True
0,0.023752,0.093413,0.882834,1.000000,0.000000,0.007585,0.000000,0.021557,0.002395,0.967265,...,0.341517,0.100200,0.032136,0.029741,0.023553,0.005389,0.939920,0.060080,1.000000,0.000000
1,0.021944,0.047900,0.930156,0.000000,1.000000,0.012742,0.063945,0.034686,0.006135,0.880840,...,0.273950,0.141104,0.057574,0.045776,0.044125,0.011562,1.000000,0.000000,1.000000,0.000000
2,0.956153,0.043847,0.000000,1.000000,0.000000,0.036109,0.190494,0.035004,0.011422,0.712233,...,0.342299,0.138909,0.048268,0.053058,0.046057,0.018423,0.711864,0.288136,0.044584,0.955416
3,0.173228,0.745932,0.080840,0.209449,0.790551,0.057743,0.707612,0.052493,0.009974,0.165354,...,0.169554,0.185302,0.100262,0.085564,0.117585,0.030446,0.806824,0.193176,0.937008,0.062992
4,0.044883,0.183637,0.771480,0.956399,0.043601,0.027443,0.140805,0.030264,0.010259,0.780200,...,0.299051,0.142344,0.049500,0.042575,0.035650,0.008207,0.052578,0.947422,0.987176,0.012824

In [11]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

In [12]:
df_model = df.query('n_cluster == "gowers_15"')
df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose().reset_index()
preditores = df_model.drop(['index'], axis = 1).columns
x_train, x_test, y_train, y_test = train_test_split(df_model[preditores]
                                                    , df_model['index']
                                                    , random_state=42, test_size=1)
scaler = StandardScaler()
scaler_model = scaler.fit(x_train)
x_train_scaled = scaler_model.transform(x_test)
y_train = y_test
arvores = [20, 50, 100, 300, 400, 500]
accuracy_array = []

for i in arvores:
    rf = RandomForestClassifier(n_estimators=i)
    rf.fit(x_train_scaled, y_train)
    y_predicted_rf = rf.predict(x_train_scaled)
    accuracy_rf = metrics.accuracy_score(y_train, y_predicted_rf).round(4)
    accuracy_array.append(accuracy_rf)

rf_estimators = pd.DataFrame(list(zip(arvores, accuracy_array)), columns =['arvores', 'acuracia'])
rf_estimators.head(10)

   arvores  acuracia
0       20       1.0
1       50       1.0
2      100       1.0
3      300       1.0
4      400       1.0
5      500       1.0

In [6]:
import pingouin as pg

In [16]:
dt_example = pg.read_dataset('icc')

In [17]:
dt_example.head()

   Wine Judge  Scores
0     1     A       1
1     2     A       1
2     3     A       3
3     4     A       6
4     5     A       6

In [37]:
df['n_cluster'].unique()

array(['gowers_15', 'kmodes_15', 'umap_kmeans_15'], dtype=object)

In [42]:
df_model = df[df['n_cluster'] == 'gowers_15']
df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose().reset_index()
df_icc = pd.melt(df_model, id_vars=['index'])
icc = pg.intraclass_corr(data=df_icc, targets='index', raters='var_value', ratings='value').round(3)
icc.set_index("Type")

/home/flavia.costa/.local/lib/python3.9/site-packages/pingouin/reliability.py:367: RuntimeWarning: invalid value encountered in double_scalars
  l2 = n * (msb - f2u * mse) / (f2u * (k * msj + (k * n - k - n) * mse) + n * msb)

,Description,ICC,F,df1,df2,pval,CI95%
Type,,,,,,,
ICC1,Single raters absolute,-1.400000e-02,0.0,14,1110,1.0,"[-0.01, -0.01]"
ICC2,Single random raters,-6.000000e-03,0.0,14,1036,1.0,"[nan, -0.01]"
ICC3,Single fixed raters,-1.400000e-02,0.0,14,1036,1.0,"[-0.01, -0.01]"
ICC1k,Average raters absolute,-2.073897e+30,0.0,14,1110,1.0,"[-3.893795861612705e+30, -8.314336545571207e+29]"
ICC2k,Average random raters,-8.270000e-01,0.0,14,1036,1.0,"[nan, -0.83]"
ICC3k,Average fixed raters,-9.386962e+29,0.0,14,1036,1.0,"[-1.7632247480771824e+30, -3.762504435424802e+29]"

In [43]:
expected, observed, stats = pg.chi2_independence(df_icc, x='var_value', y='index')

/home/flavia.costa/.local/lib/python3.9/site-packages/pingouin/contingency.py:150: UserWarning: Low count on observed frequencies.
  warnings.warn("Low count on {} frequencies.".format(name))
/home/flavia.costa/.local/lib/python3.9/site-packages/pingouin/contingency.py:150: UserWarning: Low count on expected frequencies.
  warnings.warn("Low count on {} frequencies.".format(name))

In [44]:
stats

                 test    lambda  chi2     dof  pval  cramer  power
0             pearson  1.000000   0.0  1036.0   1.0     0.0   0.05
1        cressie-read  0.666667   0.0  1036.0   1.0     0.0   0.05
2      log-likelihood  0.000000   0.0  1036.0   1.0     0.0   0.05
3       freeman-tukey -0.500000   0.0  1036.0   1.0     0.0   0.05
4  mod-log-likelihood -1.000000   0.0  1036.0   1.0     0.0   0.05
5              neyman -2.000000   0.0  1036.0   1.0     0.0   0.05

In [39]:
df_model = df[df['n_cluster'] == 'kmodes_15']
df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose().reset_index()
df_icc = pd.melt(df_model, id_vars=['index'])
icc = pg.intraclass_corr(data=df_icc, targets='index', raters='var_value', ratings='value').round(3)
icc.set_index("Type")

/home/flavia.costa/.local/lib/python3.9/site-packages/pingouin/reliability.py:367: RuntimeWarning: invalid value encountered in double_scalars
  l2 = n * (msb - f2u * mse) / (f2u * (k * msj + (k * n - k - n) * mse) + n * msb)

,Description,ICC,F,df1,df2,pval,CI95%
Type,,,,,,,
ICC1,Single raters absolute,-1.400000e-02,0.0,14,1110,1.0,"[-0.01, -0.01]"
ICC2,Single random raters,-6.000000e-03,0.0,14,1036,1.0,"[nan, -0.01]"
ICC3,Single fixed raters,-1.400000e-02,0.0,14,1036,1.0,"[-0.01, -0.01]"
ICC1k,Average raters absolute,-2.725686e+30,0.0,14,1110,1.0,"[-5.117545830280408e+30, -1.0927382901555936e+30]"
ICC2k,Average random raters,-7.690000e-01,0.0,14,1036,1.0,"[nan, -0.77]"
ICC3k,Average fixed raters,-1.184518e+30,0.0,14,1036,1.0,"[-2.224970179898995e+30, -4.747812313595907e+29]"

In [40]:
df_model = df[df['n_cluster'] == 'umap_kmeans_15']
df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose().reset_index()
df_icc = pd.melt(df_model, id_vars=['index'])
icc = pg.intraclass_corr(data=df_icc, targets='index', raters='var_value', ratings='value').round(3)
icc.set_index("Type")

/home/flavia.costa/.local/lib/python3.9/site-packages/pingouin/reliability.py:367: RuntimeWarning: invalid value encountered in double_scalars
  l2 = n * (msb - f2u * mse) / (f2u * (k * msj + (k * n - k - n) * mse) + n * msb)

,Description,ICC,F,df1,df2,pval,CI95%
Type,,,,,,,
ICC1,Single raters absolute,-1.400000e-02,0.0,14,1110,1.0,"[-0.01, -0.01]"
ICC2,Single random raters,-6.000000e-03,0.0,14,1036,1.0,"[nan, -0.01]"
ICC3,Single fixed raters,-1.400000e-02,0.0,14,1036,1.0,"[-0.01, -0.01]"
ICC1k,Average raters absolute,-1.028418e+30,0.0,14,1110,1.0,"[-1.9308808793782118e+30, -4.122967415633803e+29]"
ICC2k,Average random raters,-7.260000e-01,0.0,14,1036,1.0,"[nan, -0.73]"
ICC3k,Average fixed raters,-4.324208e+29,0.0,14,1036,1.0,"[-8.122490113918903e+29, -1.7332393453325224e+29]"

In [34]:
icc_final = pd.DataFrame()

for i in df['n_cluster'].unique():
    df_model = df[df['n_cluster'] == i]
    print(i)
    df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose().reset_index()
    df_icc = pd.melt(df_model, id_vars=['index'])
    icc = pg.intraclass_corr(data=df_icc, targets='index', raters='var_value', ratings='value').round(3)
    icc.set_index("Type")
    icc_final = icc_final.append(icc)
    icc_final['modelo'] = i

gowers_15

/home/flavia.costa/.local/lib/python3.9/site-packages/pingouin/reliability.py:367: RuntimeWarning: invalid value encountered in double_scalars
  l2 = n * (msb - f2u * mse) / (f2u * (k * msj + (k * n - k - n) * mse) + n * msb)
<ipython-input-34-95148b7a8a0e>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  icc_final = icc_final.append(icc)

kmodes_15

/home/flavia.costa/.local/lib/python3.9/site-packages/pingouin/reliability.py:367: RuntimeWarning: invalid value encountered in double_scalars
  l2 = n * (msb - f2u * mse) / (f2u * (k * msj + (k * n - k - n) * mse) + n * msb)
<ipython-input-34-95148b7a8a0e>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  icc_final = icc_final.append(icc)

umap_kmeans_15

/home/flavia.costa/.local/lib/python3.9/site-packages/pingouin/reliability.py:367: RuntimeWarning: invalid value encountered in double_scalars
  l2 = n * (msb - f2u * mse) / (f2u * (k * msj + (k * n - k - n) * mse) + n * msb)
<ipython-input-34-95148b7a8a0e>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  icc_final = icc_final.append(icc)

In [36]:
icc_final.head(20)

,Type,Description,ICC,F,df1,df2,pval,CI95%,modelo
0,ICC1,Single raters absolute,-1.400000e-02,0.0,14,1110,1.0,"[-0.01, -0.01]",umap_kmeans_15
1,ICC2,Single random raters,-6.000000e-03,0.0,14,1036,1.0,"[nan, -0.01]",umap_kmeans_15
2,ICC3,Single fixed raters,-1.400000e-02,0.0,14,1036,1.0,"[-0.01, -0.01]",umap_kmeans_15
3,ICC1k,Average raters absolute,-2.073897e+30,0.0,14,1110,1.0,"[-3.893795861612705e+30, -8.314336545571207e+29]",umap_kmeans_15
4,ICC2k,Average random raters,-8.270000e-01,0.0,14,1036,1.0,"[nan, -0.83]",umap_kmeans_15
5,ICC3k,Average fixed raters,-9.386962e+29,0.0,14,1036,1.0,"[-1.7632247480771824e+30, -3.762504435424802e+29]",umap_kmeans_15
0,ICC1,Single raters absolute,-1.400000e-02,0.0,14,1110,1.0,"[-0.01, -0.01]",umap_kmeans_15
1,ICC2,Single random raters,-6.000000e-03,0.0,14,1036,1.0,"[nan, -0.01]",umap_kmeans_15
2,ICC3,Single fixed raters,-1.400000e-02,0.0,14,1036,1.0,"[-0.01, -0.01]",umap_kmeans_15
3,ICC1k,Average raters absolute,-2.725686e+30,0.0,14,1110,1.0,"[-5.117545830280408e+30, -1.0927382901555936e+30]",umap_kmeans_15
4,ICC2k,Average random raters,-7.690000e-01,0.0,14,1036,1.0,"[nan, -0.77]",umap_kmeans_15
5,ICC3k,Average fixed raters,-1.184518e+30,0.0,14,1036,1.0,"[-2.224970179898995e+30, -4.747812313595907e+29]",umap_kmeans_15
0,ICC1,Single raters absolute,-1.400000e-02,0.0,14,1110,1.0,"[-0.01, -0.01]",umap_kmeans_15
1,ICC2,Single random raters,-6.000000e-03,0.0,14,1036,1.0,"[nan, -0.01]",umap_kmeans_15
2,ICC3,Single fixed raters,-1.400000e-02,0.0,14,1036,1.0,"[-0.01, -0.01]",umap_kmeans_15
3,ICC1k,Average raters absolute,-1.028418e+30,0.0,14,1110,1.0,"[-1.9308808793782118e+30, -4.122967415633803e+29]",umap_kmeans_15
4,ICC2k,Average random raters,-7.260000e-01,0.0,14,1036,1.0,"[nan, -0.73]",umap_kmeans_15
5,ICC3k,Average fixed raters,-4.324208e+29,0.0,14,1036,1.0,"[-8.122490113918903e+29, -1.7332393453325224e+29]",umap_kmeans_15

In [47]:
from scipy import stats

In [92]:
for i in df['n_cluster'].unique():
    df_model = df[df['n_cluster'] == i]
    df_model = df_model.drop(['n_cluster'], axis = 1).set_index('var_value').transpose()
    for j in df_model.columns:
        df_model[i] = (df_model[j] - df_model[j].mean()) / np.std(df_model[j])
    df_model = df_model.reset_index()
    df_temp = df_model.set_index('index').T
    print(i)
    kw = stats.kruskal(df_temp['0'], df_temp['2'], df_temp['3'], df_temp['4'], df_temp['5'], df_temp['6'], df_temp['7'], df_temp['8'], df_temp['9'], df_temp['10'], df_temp['11'], df_temp['12'], df_temp['10'], df_temp['11'], df_temp['12'],df_temp['13'],df_temp['14'])
    print(kw)
    if kw.pvalue > 0.05:
        print("Hipótese de igualdade rejeitada. Distribuições entre os clusters são diferentes")
    else:
        print("Hipótese de igualdade não rejeitada. Distribuições entre os clusters são similares")
    print("______________________")

gowers_15
KruskalResult(statistic=17.59599705814234, pvalue=0.3480790782665576)
Hipótese de igualdade rejeitada. Distribuições entre os clusters são diferentes
______________________
kmodes_15
KruskalResult(statistic=17.417620489514402, pvalue=0.3590831552858661)
Hipótese de igualdade rejeitada. Distribuições entre os clusters são diferentes
______________________
umap_kmeans_15
KruskalResult(statistic=34.37894195606655, pvalue=0.004828777740995092)
Hipótese de igualdade não rejeitada. Distribuições entre os clusters são similares
______________________

In [ ]:
'gowers_10_attribute_freq', 'kmodes_10_attribute_freq', 'umap_kmeans_10_attribute_freq'